.done {
    text-decoration: line-through;
    text-decoration-color: gray;
}

.li {
    margin: .5em 0;
    display: grid;
    grid-auto-flow:column;
}

.secondary-text {
    font-size: .75em;
    opacity: .5;
}

.close {
    cursor: pointer;
}